<header class="header">
  <div class="logo">
    <a routerLink="/" style="text-decoration: none;">
      <svg viewBox="0 0 40 40" width="40" height="40" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="20" fill="#202329"/>
        <text x="50%" y="50%" fill="white" font-size="12" font-weight="bold" text-anchor="middle" dy=".3em">R&M</text>
      </svg>
    </a>
  </div>
  <nav class="nav-links">
    <a routerLink="/">Inicio</a>
    <a routerLink="/documentation">Documentación</a>
    <a routerLink="/about">Acerca de</a>
    <a routerLink="/favorites">Favoritos</a>
    <a routerLink="/support" class="btn-support">APÓYANOS</a>
  </nav>
</header>
